@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
	<li>
		<a>
			<i class="fa-solid fa-cart-shopping"></i>
			<span id="cart-status">
				@Model.ShoppingCart.ShoppingCartItems.Count
			</span>
		</a>
	</li>
}